* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-content {
    width: calc(100% - 240px);
    left: 240px;
}