* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    padding: 50px;
}

.home-top {
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.create-new-recipe-top {
    text-align: right;
}

.recipe-row {
    margin-top: 50px;
    margin-bottom: 20px;
}