* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main-content {
    padding: 5%;
    text-size-adjust: auto;
}

.row{
    padding-top: 2%;
}

h1{
    padding: 2%;
    font-size:4vw;
    display: inline;
}

.recipeImage{
    padding-top: 5%;
    padding-right: 5%;
}

.ingredients{
    padding-top: 5%;
    
}
.ingredients h4{
    font-size: 2.5vw;
    font-weight: bold;
}

.instructions{
    padding-top: 5%;
}

.instructions h4{
    font-size: 2.5vw;
    font-weight: bold;
}

li{
    font-size: 2.3vw;
}
img {
    width: 100%;
    height: auto;
}
.bookmark{
    width: 25%;
    height: auto;
    float: right;
    margin-right: 15%;
}
.goBack{
    width: 3%;
    height: auto;
}
.dl-horizontal{
    padding: 15%;
    font-size: 2vw;
}
dt{
    padding-top: 10%;
}