.SearchBar {
    display: flex;
    flex-direction: row;
    padding: center;
    padding: 2%;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 10%;
    gap: 1%;

}

#searchInput{
    width: 80%;
    height: 60px;
    font-size: 20px;
    left: 5%;
    color: rgb(56, 55, 55);
    padding-left: 3%;
}


#filterToggle{
    height: 60px;
    width: 60px; 
    border-radius: 8%;
    border-color:#DADADA ;
    background-color: #DADADA;
    box-shadow: none;

}


#filterImage{
    height: 40px;
    width: 40px;
}


.popUp{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8%;
    background-color: #DEE8F2;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    left: 22%;
    width: 20%;
    min-width: 40px;
}



.popUp > p{
    font-size: 15px;
    margin-bottom: -2%;
    padding-left: 15%;
 }

.filter-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

.filter-section > input{ 
    width: 95%;
    height: 10%;
    padding: 3%;
    font-size: 15px;
    

}


.filter-slider{
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.filter-slider > input{
    width: 25%;
    height: 5%;
    margin-left: 5%;
    padding-left: 2%;
}

.filter-slider > label{
    margin-left: 2%;
}

.checkBox-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    margin-bottom: -1%;
    margin-left: 15%;

    
}
.checkBox-section > input{
    size: 20%;
}

.checkBox-section > label{
    margin-left: 3%;
}

.submit-filter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

.submit-filter-section > button{
    width: 100px;
    height: 25px;
    padding-bottom: 1%;
    border-radius: 5%; 
    border-color: #DADADA;
    background-color: #DADADA;
    text-align: center;
    font-size: 13px;
    min-width: 80px;
    margin: auto;


}

#showpop{
    display: none;
}

#showpop.show{
    display: block;
}

