.SearchBar {
    display: flex;
    flex-direction: row;
    padding: center;
    padding: 2%;
    margin-top: 2%;
    margin-left: 34%;
    margin-right: 25%;

}


.popUp{
    display: flex;
    flex-direction: column;
    padding: center;
    background-color: rgb(193, 196, 199);
    padding: 5%;
    margin-top: 2%;
    margin-left: 32%;
    margin-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
}



.filter-section{
    display: flex;
    flex-direction: row;
    padding: center;
    padding: 2%;
    margin-bottom: 5%;
}

.filterCheckbox{
    display: inline-flex;
    
}

.filterOption{ 
    width: 85%;
}

input.filterSlider{
    width: 95%;
}

.squareButton{
    height: 30px;
    width: 30px;
    
    
}

.checkBoxSection{
    display: flex;
    flex-direction: row;
    padding: center;
    padding: 2%;
    gap: 40%;

}

#showpop{
    display: none;
}

#showpop.show{
    display: block;
}

#submitFilter{
    width: 40%;
}

