.btn_design {
    padding-left: 10px;
    font-size: 2em;
    border-style: solid;
    max-width: 14%;
    margin-bottom: 10px;
}

.btn_rst_design {
    padding-left: 10px;
    font-size: 2em;
    border-style: solid;
    max-width: 7%;
}

i:hover {
    color:red;
    cursor: pointer;
}